# Material fora do escopo deste repositório
/UNUSED Code/
/Codigos 5G NR.zip
/Melhor Condicao 2-75MHZ sem distorcao.PNG
/src/experiments/VLCTestBed/Results2/

# Artefatos binários gerados por experimentos (não são código-fonte)
*.fig
/src/filters/waveform_pb.mat
